/* dark blue: #0B0B10  */
/* medium blue: #1F2733  */
/* Gray: #C5C6C8  */
/* bright blue: #66FCF1  */
/* grayish blue: #45A29F  */

body {
	background-color: #0b0b10;
	color: #fff;
	font-family: 'Barlow Condensed', sans-serif;
}

.nav {
	background-color: #1f2733;
}

.ui.menu .item {
	color: #fff;
}

.about {
	padding: 50px;
	/*margin: 50px auto;*/
	font-size: 1.5em;
}

.ui.bordered.image img,
.ui.bordered.image svg,
.ui.bordered.images .image,
.ui.bordered.images img,
.ui.bordered.images svg,
img.ui.bordered.image {
	border: 3px solid #fff;
}

.ui.header {
	color: #66fcf1;
	font-weight: 300;
}

#projectHead {
	margin-bottom: 50px;
}

.project-links {
	color: black;
}

.project-links:hover {
	color: rgb(109, 109, 109);
}

.projects {
	width: 70%;
	margin: auto;
}

.skills {
	width: 50%;
	margin: 0 auto 50px;
}

#skills {
	background-color: #1f2733;
	border-radius: 10px;
}

.ui.card > .image,
.ui.cards > .card > .image {
	background: white;
}

video {
	width: 98%;
	margin: 5px auto;
}

.description {
	font-size: 1.2em;
}

footer {
	margin: 30px auto;
	text-align: center;
}

.skill {
	margin-top: 10px;
	color: #66fcf1;
	font-size: 1.1em;
}

.ui.centered.grid.icons,
#skills {
	margin-top: 50px;
}

@media only screen and (max-width: 450px) {
	.skill {
		display: none;
	}

	#experience {
		display: none;
	}
}
