.about {
    padding: 50px;
    /*margin: 50px auto;*/
    font-size: 1.5em;
}

.project-links{
    color: black;
}

.project-links:hover {
    color: rgb(109, 109, 109);
}

.projects {
    width: 70%;
    margin: auto;
}

.ui.card>.image, .ui.cards>.card>.image {
    background: white;
}

video {
    width: 98%;
    margin: 5px auto;
}

.description {
    font-size: 1.2em;
}

footer {
    margin: 30px auto;
    text-align: center;
}

/* .card {
    opacity: 0;
    transition: opacity .5s;
    will-change: opacity;
}

.card.visible {
    opacity: 1;
} */